body {
    background-color: #F8F7FF;
    margin: 0;
    font-family: sans-serif;
}

h1 {
    font-size: 40px;
}

h2 {
    color: #F8F7FF;
    text-align: center;
    font-size: 40px;
}

p {
    color: #84828F;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.wrapper-holders {
    padding-bottom: 5%;
    background-color: #4F7CAC;
}

nav {
    background-color: #272932;
    min-height: 6em;
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: center;
}

nav a {
    color: #F8F7FF;
    font-size: 28px;
}

footer {
    background-color: #272932;
    color:#F8F7FF;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 50px;
}

footer form {
    width: 900px;
    margin: 0 auto;
}

footer p, label {
    color:#F8F7FF;
    font-size: 18px;
}

footer input {
    margin: 5px;
    font-size: 14px;
}

footer input[type="submit"] {
    font-weight: bold;
}

footer textarea {
  font-family: sans-serif;
  width: 100%;
  height: 48px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #0272;
  background-color: #383b48;
  resize: none;
  margin: 8px;
  color: #84828F;
}

footer textarea[name="c-message"] {
    height: 125px;
}

#c-message {
    height: 125px;
}

#c-success {
    color: #FFBE0B;
}

.section-bl {
    background-color: #272932;
    color: #F8F7FF;
}

.section-wh {
    background-color: #F8F7FF;
    color: #272932;
}

.section-bl, .section-wh {
    max-width: 40%;
    padding: 2%;
    margin: 1%;
    border-radius: 8px;
}

.shadow {
    box-shadow: 1px 1px 5px #272932;
}

.wrapper-hz {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-display {
    margin: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #F8F7FF;
    border-radius: 10px;
    width: 240px;
    padding-bottom: 50px;
    color:#272932;
}

.card img {
    max-height: 175px;
    border-radius: 10px;
    object-fit: cover;
}

.card-txt-wrapper {
    padding: 5%;
}

.btn-ylw {
    color: #272932;
    background-color: #FFBE0B;
    border-radius: 20px;
    border-width: 1px;
    border-color: #272932;
    border-style: fill;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#me {
    width: 450px;
}

@media screen and (max-width: 800px) {
    nav {
      flex-direction: column;
      gap: 0.5em;
      padding: 1em;
    }

    .section-wh {
        max-width: 100%;
    }

    .wrapper-hz {
        flex-wrap: wrap;
    }

    #me {
        width: 400px;
    }

    footer form {
        width: 380px;
    }
  }

